.intro {
    background-color: $color-grey;
    .intro-container {
        @include section-padding;
        .intro-left, .intro-right {
            height: 400px;
            position: relative;
            background-size: cover;
            background-position: center center;
            background-clip: content-box;
            margin-bottom: $mg-2;
            margin-top: $mg-up-3;
        }
        .intro-left {
            background-color: $color-black;
            background-image: url("../src/img/our-vehicle-intro-1.jpg");
            .intro-left-content {
                color: $color-white;
                text-align: center;
                position: absolute;
                bottom: 10%;
                font-size: $font-size-1;
                padding-left: $pd-1 + 4;
                padding-right: $pd-1 + 4;
                h4 {
                    font-size: $font-size-2;
                    font-weight: $font-weight-bold;
                    margin-bottom: $mg-2;
                }
                p {
                    font-weight: $font-weight-300;
                    margin-bottom: $mg-3;
                }
            }
        }
        .intro-right {
            background-image: url("../src/img/our-vehicles-intro-2.jpg");
            .intro-right-content {
                color: $color-white;
                position: absolute;
                top: 30%;
                left: 5%;
                font-size: $font-size-2;
                width: 40%;
                h4 {
                    font-weight: $font-weight-bold;
                    margin-bottom: $mg-2;
                    background: $color-blue-overlay;
                    padding: $pd-1 $pd-2;
                    display: inline-block;
                    font-size: $font-size-2;
                }
                p {
                    font-weight: $font-weight-bold;
                    margin-bottom: $mg-3;
                }
            }
        }
    }
}