#our-vehicles {
    background-color: $color-grey;
    border: 1px solid transparent;
    h1 {
        color: $color-dark-blue-200;
        font-size: $font-size-4;
        margin: $mg-3 0 $mg-5 0;
    }
    .carousel {
        height: 600px;
        .carousel-inner {
            height: 95%;
            .carousel-item {
                height: 95%;
            }
        }
    }
    .carousel-control-prev, .carousel-control-next {
        .carousel-control-content {
            background-color: $color-blue-overlay;
            padding: $pd-3 $pd-2;
            border-radius: 0.9rem;
        }
        .carousel-control-prev-icon, .carousel-control-next-icon {
            padding: $pd-3 $pd-2;
        }
    }
    .carousel-indicators-config {
        margin-bottom: $mg-2;
        li {
            color: $color-dark-blue-200;
            font-weight: $font-weight-bold;
            font-size: $font-size-1;
            padding: $pd-1 $pd-3;
            border-radius: 4rem;
            cursor: pointer;
            &.active {
                color: $color-white;
                background-color: $color-blue-200;
                position: relative;
                display: flex;
                justify-content: center;
                &::before {
                    content: "";
                    border-top: $arrow-width solid $color-white;
                    border-left: $arrow-width solid transparent;
                    border-right: $arrow-width solid transparent;
                    position: absolute;
                    bottom: ($arrow-width * (-1)) - $mg-2;
                    z-index: 9;
                }
            }
        }
    }
    .carousel-caption-config {
        width: 30%;
        position: absolute;
        top: 8%;
        left: 6%;
        color: $color-white;
        font-size: $font-size-1;
        > p {
            font-weight: $font-weight-bold;
            span {
                font-weight: $font-weight-normal;
            }
        }
        img {
            width: 60%;
            transform: translateX($pd-2 * (-1));
        }
        .caption-content {
            font-weight: $font-weight-300;
            margin-bottom: $mg-2;
        }
        .carousel-caption-detail {
            margin-bottom: $mg-2;
            .carousel-detail-content {
                h2 {
                    font-weight: $font-weight-300;
                    font-size: $font-size-5 - .5;
                }
                p {
                    font-size: $font-size-1;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
    .carousel-caption-footer {
        width: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: $border-2;
        a {
            font-size: $font-size-1;
            font-weight: $font-weight-bold;
            color: $color-white;
            text-decoration: none;
        }
    }
    .carousel-indicators-xs {
        width: 60%;
        margin: auto;
        background-color: $color-white;
        border: $border-3;
        .indicators-xs-header {
            padding: 0 $pd-2;
        }
        h1 {
            font-size: $font-size-1 - .2;
            margin: $mg-1;
            color: $color-blue-100;
            font-weight: $font-weight-300;
            padding: $pd-2 0;
            margin-right: auto;
            span {
                font-weight: $font-weight-bold;
                color: $color-dark-blue-200;
            }
        }
        svg {
            font-size: $font-size-5 - 1;
            color: $color-blue-100;
            transition: all .5s;
            cursor: pointer;
        }
        ol {
            padding: 0;
            margin: 0;
            list-style: none;
            border-top: $border-3;
            display: none;
            li {
                color: $color-dark-blue-200;
                font-weight: $font-weight-bold;
                font-size: $font-size-1 - .2;
                padding: $pd-2;
                cursor: pointer;
            }
        }
    }
    .function-container {
        padding: 0 $pd-8 + .8;
        margin: $mg-6 0;
    }
    .function {
        height: 300px;
        box-shadow: $box-shadow-3;
        position: relative;
        cursor: pointer;
        transition: all .5s;
        &:hover {
            transform: translateY($mg-2 * (-1));
            .btn-go {
                background-color: transparent;
                color: $color-blue-200;
            }
        }
        div {
            position: absolute;
            top: 40%;
            left: 0;
            text-align: center;
            width: 100%;
        }
        h3 {
            font-size: $font-size-2;
            @include text($font-weight-bold, $mg-1);
            color: $color-dark-blue-200;
        }
        p {
            font-size: $font-size-1;
            @include text($font-weight-300, $mg-2);
            color: $color-dark-blue-100;
            padding: 0 6%;
        }
    }
    .intro-left-1 {
        background-image: url("../src/img/intro-3.jpg");
        margin: 0 0 $mg-2 0;
    }
    .intro-right-1 {
        background-image: url("../src/img/intro-4.jpg");
        margin-top: 0;
    }
    #discover {
        padding: 0 $pd-8 + .8;
        .discover-title {
            h1 {
                font-size: $font-size-4;
                margin-bottom: $mg-1;
            }
            span {
                color: $color-dark-blue-100;
                font-weight: $font-weight-300;
                font-size: $font-size-1;
            }
        }
        .discover-item {
            height: 450px;
            position: relative;
            margin-top: $mg-2;
            box-shadow: $box-shadow-3;
            .discover-item-content {
                text-align: center;
                position: absolute;
                left: 0;
                bottom: 10%;
                h2, a {
                    @include text($font-weight-bold, $mg-2);
                    font-size: $font-size-2;
                    color: $color-dark-blue-200;
                }
                p {
                    @include text($font-weight-300, $mg-2);
                    font-size: $font-size-1;
                    padding: 0 $pd-3;
                }
                a {
                    color: $color-blue-200;
                    text-decoration: none;
                    font-size: $font-size-1;
                }
            }
        }
        .discover-item-6 {
            color: $color-blue-200;
            position: relative;
            background-color: $color-white;
            > svg {
                font-size: $font-size-3;
                position: absolute;
                top: 1rem;
                right: 1rem;
            }
            .discover-item-twitter {
                position: absolute;
                top: 30%;
                left: 5%;
                a {
                    color: $color-blue-200;
                    text-decoration: none;
                }
                .discover-twitter-logo {
                    img {
                        border-radius: .5rem;
                        margin-right: $mg-1;
                        height: 4rem;
                    }
                    p {
                        font-size: $font-size-1;
                        a {
                            &:first-child {
                                font-weight: $font-weight-bold;
                            }
                        }
                    }
                }
                > p {
                    font-size: $font-size-1;
                    color: $color-dark-blue-200;
                }
                .discover-twitter-interaction {
                    color: $color-blue-200;
                    span {
                        margin-right: $mg-2;
                    }
                }
            }
        }
        button {
            margin: $mg-4 0;
        }
    }
}

.pd-col {
    padding: $pd-1;
}